
			*{
				margin:0;
				padding:0;
			}
			body{
				margin-top:30px;
			}
			.fill-container{
				width:100%;
				height:100%;
			}
			.center-text{
				text-align: center;
			}
			#game-wrapper{
				max-width:1000px;
				height:500px;
				margin:auto;
				overflow:hidden;
				border:2px solid black;
			}

		/*******   TITLE SCREEN    ************/
			#title-screen{
				background-image: url("./images/background1.png");
				background-size: cover;
				flex-direction:column;
				justify-content:center;
			}
			.title-header{
				font-size:70px;
			}
			.title-sub-header{
				font-size:32px;
			}
			.title-body{
				margin-top:30px;
			}
			.title-option-button{
				font-size:32px;
				border:none;
				background:none;
				display: block;
				margin: auto;
			}
			.title-option-button:hover{
				color:red;
				cursor:pointer;
			}

		/*******   CHARACTER SELECTION  SCREEN  *******/
			#character-selection-screen{
				background: url("./images/background4.png");
				background-size: cover;
				flex-direction: column;
				justify-content:center;
			}
			.character-selection-header{
				font-size: 32px;
				font-weight: bolder;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 15%;
			}
			.character-selection-body{
				display:flex;
				justify-content:center;
				height: 80%;
			}
			.player-card{
				text-align:center;
				border:3px solid black;
				height: 250px;
				margin: 0 10px;
			}
			.player-name{
				font-size: 32px;
				font-weight: bold;
			}
			.player-health{
				font-size: 28px;
				font-weight: bold;
			}
			.player-card:hover{
				cursor:pointer;
				background:yellow;
			}
			.player-card img{
				width:200px;
				height:200px;
			}



		/*******   ATTACK SCREEN    *******/

			#attack-screen{
				background: url("./images/background2.png");
				background-size: cover;
				flex-direction: column;
				justify-content:center;
			}
			.attack-header{
				font-size: 32px;
				font-weight: bolder;
				display: flex;
				justify-content: center;
				align-items: center;
				height:10%;
			
			}
			.attack-sub-header{
				font-size: 30px;
				font-weight: bold;
				display: flex;
				justify-content: center;
				align-items: center;
				height:10%;
			
			}
			.attack-body{
				display:flex;
				justify-content:center;
				align-items: center;
				height: 60%;
			}
			.player-box{
				border: 3px solid black;
				text-align: center;
				margin: 0 10px;
			}
			.player-box img{
				width:200px;
				height: 200px;
			}
			.attack-footer{
				height:20%;
				display:flex;
				align-items:center;
				justify-content:space-around;
			}
			.attack-option-button{
				font-size: 20px;
				width:20%;
				height:50%;
			}


	/******    OUTCOME SCREEN     *********/
			#outcome-screen{
				background: url("./images/background3.png");
				background-size: cover;
				flex-direction: column;
				justify-content:center;	
			}
			.outcome-header{
				font-size: 32px;
				font-weight: bolder;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 15%;
			}
			.outcome-subheader{
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				height: 10%;
			}
			.outcome-body{
				display: flex;
				justify-content: space-evenly;
				height: 70%;
			}
			.outcome-card{
				width: 45%;
				border: 3px solid black;
				text-align: center;
			}
			.outcome-option-button{
				margin:auto;
				font-size:24px;
			}
			
		